<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.sb5.board.notice.NoticeMapper"> 
  		<insert id="setInsert" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="num">
  		insert into notice (num, title, writer, contents, regDate, hit) values
		(#{num},#{title}, #{writer}, #{contents}, sysdate(), 0)
  		</insert>
  		
  		<insert id="setInsertFile" parameterType="FileVO">
	  	insert into noticeFiles (num, fileName, oriName) values(#{num}, #{fileName}, #{oriName})	
  		</insert>
  
  		<delete id="setDelete" parameterType="BoardVO">
  			delete from notice where num=#{num}
  		</delete>
  
  		<update id="setUpdate" parameterType="BoardVO">
  			update notice set title=#{title}, contents=#{contents} where num=#{num}
  		</update>
  
  
  		<select id="getList" parameterType="Pager" resultType="BoardVO">
  			select * from notice where 
  			<choose>
  				<when test="kind=='title'">
  					title
  				</when>
  				<when test="kind=='writer'">
  					writer
  				</when>
  				<otherwise>contents</otherwise>
  			</choose>
  			like concat('%', #{search},'%') and num >0 
  			order by num desc limit #{startRow}, #{perPage}
  		</select>
  		
  		<select id="getCount" resultType="Long">
  			select count(num) from notice where
  			<choose>
  				<when test="kind=='title'">
  					title
  				</when>
  				<when test="kind='writer'">
  					writer
  				</when>
  				<otherwise>
  					contents
  				</otherwise>
  			</choose>
  			like concat('%',#{search},'%') and num>0
  		</select>
  		
  		<select id="getOne" parameterType="BoardVO" resultType="BoardVO">
  			select * from notice where num = #{num}
  		</select>
  		
  		<select id="getFiles" parameterType="BoardVO" resultType="FileVO">
  			select oriName from notice N inner join noticeFiles F on N.num=F.num where N.num=#{num}
  		</select>
  
  </mapper>